<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Телефонная книга</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<script type="text/javascript">
    function update_form(id){
        let tr = document.getElementById(id);
        let td = tr.querySelectorAll('td');
        const name=td[0].textContent;
        const number=td[1].textContent;
        document.getElementById('update').style.display = 'block';
        document.getElementById('name').value = name;
        document.getElementById('number').value = number;
        document.getElementById('cancel').setAttribute('name',name);
        document.getElementById('cancel').setAttribute('number_phone',number);
        document.getElementById('update_btn').setAttribute('id_old',id);
    }
    function cancel_submit(){
            event.preventDefault();
            const date = new Date().toLocaleDateString();
            var id = parseInt(document.getElementById('update_btn').getAttribute('id_old'));
            var name1 = document.getElementById('cancel').getAttribute('name');
            var number1 = document.getElementById('cancel').getAttribute('number_phone');
            $.ajax({
                url: 'http://localhost:8080/phoneBook/update?id='+id,
                type: 'POST',
                headers:{"Content-Type": "application/json"},
                dataType: "json",
                data: JSON.stringify({
                    name:name1,
                    number:number1,
                    date: date
                }),
                success : function (data){
                    let tr = document.getElementById(data['id']);
                    let td = tr.querySelectorAll('td');
                    td[0].textContent = data['name'];
                    td[1].textContent = data['number'];
                    td[2].textContent = data['date'];
                    document.getElementById('update').style.display = 'none';
                },
                error: function (data){
                    alert("Error");
                }
            });
    }
    function update_submit(){
            event.preventDefault();
            var name_new = $('#name').val();
            var number_new = $('#number').val();
            var date = new Date().toLocaleDateString();
            var id_old=parseInt(document.getElementById('update_btn').getAttribute('id_old'));
            $.ajax({
                url: 'http://localhost:8080/phoneBook/update?id='+id_old,
                type: 'POST',
                headers:{"Content-Type": "application/json"},
                dataType: "json",
                data: JSON.stringify({
                    name:name_new,
                    number:number_new,
                    date:date
                }),
                success : function (data){
                    let tr = document.getElementById(data['id']);
                    let td = tr.querySelectorAll('td');
                    td[0].textContent = data['name'];
                    td[1].textContent = data['number'];
                    td[2].textContent = data['date'];
                },
                error: function (data){
                    alert("error");
                }
            });
    }
    function check(id){
        const id_del=id;
        $.ajax({
            url: 'http://localhost:8080/phoneBook/delete',
            type: 'POST',
            data: {"id": id_del},
            success : function (id){
                document.getElementById(id).remove();
                document.getElementById('cancel_delete').style.display = 'block';
                document.getElementById('btn_cancel_delete').setAttribute('id_for_cancel',id);
            },
            error: function (data){
                alert("Error");
            }
        });
    }
    function create_person(){
        document.getElementById('create').style.display = 'block';
    }
</script>
<script type="text/javascript">
    function save() {
        event.preventDefault();
        const name1 = $('#name_c').val();
        const number1 = $('#number_c').val();
        const date1 = new Date().toLocaleDateString();
        $.ajax({
            url: 'http://localhost:8080/phoneBook/create',
            type: 'POST',
            headers:{"Content-Type": "application/json"},
            dataType: "json",
            data: JSON.stringify({
                name:name1,
                number:number1,
                date: date1
            }),
            success : function (data){
                $('#table').append("<tr id='" + data['id'] + "'><td>" + data['name'] + "</td><td>" + data['number']
                    + "</td>" +
                    "<td>" + data['date'] + "</td><td><button onclick='update_form(" + data['id'] + ")'>Изменить запись" +
                    "</button></td><td>" +
                    "<button onclick='check(" + data['id'] + ")'>Удалить запись</button></td></tr>");
                    document.getElementById('create').style.display = 'none';
            },
            error: function (data){
                alert("error");
            }
        });
    }
    function cancel_delete(id){
        const id_cancel_del=id;
        $.ajax({
            url: 'http://localhost:8080/phoneBook/delete/cancel?id='+id_cancel_del,
            type: 'POST',
            success: function (data){
                $('#table').append("<tr id='" + data['id'] + "'><td>" + data['name'] + "</td><td>" + data['number']
                    + "</td>" +
                    "<td>" + data['date'] + "</td><td><button onclick='update_form(" + data['id'] + ")'>Изменить запись" +
                    "</button></td><td>" +
                    "<button onclick='check(" + data['id'] + ")'>Удалить запись</button></td></tr>");
                document.getElementById('cancel_delete').style.display = 'none';
            },
            error: function (data){
                alert("error");
            }
        })
    }
    function update_all_name(){
        event.preventDefault();
        var worker = new Worker('./Worker_update_date.js');
        const name = $('#new_name').val();
        worker.postMessage(name);
        worker.onmessage = function (response){
            console.log(JSON.parse(response));
            var tr = document.getElementById("table").getElementsByTagName('tr');
            for (var i = 1 ;i< tr.length; i++) {
                tr[i].getElementsByTagName('td')[0].textContent = name;
                }
            }
        worker.onerror = function (e){
            alert("Error");
        }
    }
</script>
<table id="table">
    <tr>
        <th>Имя</th>
        <th>Телефон</th>
        <th>Дата</th>
        <th>Изменение</th>
        <th>Удаление</th>
    </tr>
    <div th:each="person: ${persons}">
        <tr th:id="${person.getId()}">
            <td th:text="${person.getName()}"></td>
            <td th:text="${person.getNumber()}"></td>
            <td th:text="${person.getDate()}"></td>
            <td>
                <button th:data-name="${person.getName()}" th:data-number="${person.getNumber()}"
                        th:data-id="${person.getId()}"
                        onclick="update_form(this.getAttribute('data-id'))">Изменить запись</button>
            </td>
            <td>
                <button th:data-id="${person.getId()}"  onclick="check(this.getAttribute('data-id'))">Удалить запись</button>
            </td>
        </tr>
    </div>
</table>
</br>
            <div id="update" style="display: none">
                <h3>Изменения записей</h3>
                <form name="update" method="POST" action="/phoneBook/update">
                    <label for="name">Enter name: </label>
                    <input type="text" id="name" name="name"/>
                    </br>
                    <label for="number">Enter number: </label>
                    <input type="text" id="number" name="number"/>
                    </br>
                    <input type="submit" onclick="update_submit()" value="Обновить запись" id="update_btn"/>
                    </br>
                </form>
                <button id="cancel" onclick="cancel_submit()">Отмена изменений</button>
            </div>
</br>
</br>
        <div id="cancel_delete" style="display: none">
            <h3>Отменить последнее удаление</h3>
            <button id="btn_cancel_delete" onclick="cancel_delete(this.getAttribute('id_for_cancel'))">Отменить</button>
        </div>
        <button onclick="create_person()" >Добавить запись</button>
            <div id="create" style="display: none">
                <h3>Создание записи</h3>
                <form id="form" method="post" action="/phoneBook/create">
                    <label for="name_c">Enter name: </label>
                    <input type="text" id="name_c" name="name_c"/>
                    </br>
                    <label for="number_c">Enter number: </label>
                    <input type="text" id="number_c" name="number_c"/>
                    </br>
                    <input type="submit" onclick="save()" value="Добавить запись"/>
                </form>
            </div>

        <h3>Замена имени у всех записей</h3>
        <form method="post" action="/phoneBook/updateAllRecords">
            <label for="new_name">Enter number: </label>
            <input type="text" id="new_name" name="new_name"/>
            </br>
            <input type="submit" onclick="update_all_name()" value="Заменить"/>
        </form>

</body>
</html>